In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ['Category', 'Item', 'Cost'])

In [3]:
df

Empty DataFrame
Columns: [Category, Item, Cost]
Index: []

In [5]:
new_item = {'Category': 'a', 'Item': 'b', 'Cost':50}

In [6]:
test = pd.DataFrame(new_item, index = [0])

In [7]:
test

  Category Item  Cost
0        a    b    50

In [8]:
new_df = pd.concat([df if not df.empty else None, test], ignore_index=True)

In [9]:
new_df

  Category Item  Cost
0        a    b    50

In [10]:
pd.concat([new_df, test], ignore_index=True)

  Category Item  Cost
0        a    b    50
1        a    b    50

In [12]:
!pwd

/home/arrykrishna/Documents/AZ-analytics/azml/projects/SpendSmart

In [15]:
pd.read_csv("ssweb/salary/2024.csv", index_col=[0])

     Month  Salary
0  January  2550.0

In [22]:
df = pd.DataFrame([['a', 'test', 5.0], ['a', 'test', 5], ['b', 'test', 25]], columns = ['Category', 'Item', 'Cost'])

In [23]:
df

  Category  Item  Cost
0        a  test   5.0
1        a  test   5.0
2        b  test  25.0

In [25]:
df[['Category', 'Cost']].groupby('Category').sum()

          Cost
Category
a         10.0
b         25.0

In [26]:
df

  Category  Item  Cost
0        a  test   5.0
1        a  test   5.0
2        b  test  25.0

In [33]:
df[df['Category'] == 'b']['Cost'].values

array([25.])